[*.cs]

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = silent

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = silent

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = silent

# MVC1005: Cannot use UseMvc with Endpoint Routing.
dotnet_diagnostic.MVC1005.severity = silent

# CA1812: Startup is an internal class that is apparently never instantiated. If so, remove the code from the assembly. If this class is intended to contain only static members, make it static (Shared in Visual Basic).
dotnet_diagnostic.CA1812.severity = silent

# AD0001: Analyzer Failure
dotnet_diagnostic.AD0001.severity = silent

# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
